/**
 * Front Page (front-page.php)
 */

/*
Site branding (name/tagline) on front-page.php
( pulled out of the <header> in header-frontpage.php )
*/

// the container
.wrap--front-page {
   @extend .wrap;
   max-width: $frontpage-max-width;
   position: relative;
}

.wrap--front-page img {
  width: 100%;
  height: auto;
}

.home .site-branding {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: left;
}

.home .site-branding .site-title {
   font-family: $sans;
   font-weight: normal;
   font-weight: $fw-normal;
   font-size: $h4;
   margin: 0;

   a {
      color: $base-text-color;
      text-decoration: none;
   }

   @media only screen and (min-width: 800px) {
      font-size: $h1-mobile;
      margin: 0;
   }

   @media only screen and (min-width: 1200px) {
      font-size: $h1;
      margin: 0;
   }

}

.home .site-branding .site-description {
  font-family: $sans;
  color: $base-text-color;
  font-size: 1rem;
  font-style: normal;
  margin: 0;

  @media only screen and (min-width: 800px) {
    font-size: 1.25rem;
    margin: 0;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 1.5rem;
  }

}

.home .site-branding .site-title span {
   margin-bottom: 2px;
}

.home .site-branding .site-title span,
.home .site-branding .site-description span {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, .85);
}

// ----------- The front-page short 'intro' message
// ----------- (pulled from the Home - front-page excerpt)

.home .entry-header {
  margin-top: 2rem;

  @media only screen and (min-width: 600px){
    margin-top: 4rem;
  }

}

.home .entry-content {
  //margin-top: 4rem;
}

.home .entry-content p:first-of-type {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.5em;
}

.frontpage__featured {
  .widget-title {
    margin-bottom: 0;
  }
}

.frontpage__featured ul {
  @extend .list-reset;
}

// animate the full-screen height change
#frontpage_branding {
  @include trans( $global-trans-time, $global-easing );
}
