/**
 * Page
 */


/*
Articles (individual post content) in a page feed.
For instance, CPT 'books' posts, in the 'Books' page
*/
.page .site-main article {
    padding-bottom: 2rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 2rem;

    &:last-of-type {
        border-bottom: none;
    }

}
