/**
 * Post Styles
 */

.articles__meta {
  margin-bottom: 1rem;
}

// ---------------------- Global post styles

// post entry title

.post .entry-title {
  width: 100%;
  max-width: 700px;
}

.post .entry-meta a {
  text-decoration: none;
  color: lighten($base-text-color, 25%);

  &:visited {
    color: lighten($base-text-color, 25%);
  }
  &:hover,
  &:active,
  &:focus {
    color: lighten($base-text-color, 35%);
  }

}

// adjust bottom margin on the last paragraph of a post
article .entry-content p:last-of-type {
    margin-bottom: 0;
}

// article styles
article.post {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $base-border-color;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 800px) {
    padding-bottom: 3rem;
    margin-bottom: 3.5rem;
  }

}

// meta info added via custom fields

.post__meta-holder {
  margin-bottom: 1rem;
}

.post__meta,
.post__permalink {
  font-family: $sans;
  font-size: .75rem;
  line-height: 1em;
  color: lighten($base-text-color, 25%);
  font-weight: bold;
  font-weight: $fw-bold;
  margin-bottom: .5rem;

  &:last-of-type {
    margin-bottom: 1rem;
  }

  margin-top: 1rem;
  @media only screen and (min-width: $bp-main-sidebar) {
    margin-top: 0;
  }

}

.post__meta a,
.post__permalink a {
  text-decoration: none;
  color: black;
}

.post__meta span {
  text-transform: uppercase;
}

// /meta info added via custom fields


// ---------------------- content-articles

// article styles for the 'articles' posts only
.category-articles article.post {
  padding-bottom: 2rem;
  border-bottom: 1px solid $base-border-color;
  margin-bottom: 3rem;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

}

// the title on a post with Link format
h1.title__post-link {
  font-size: $h3-mobile;

  @media only screen and (min-width: 800px) {
    font-size: $h3;
  }

}

h2.title__post-link {
  font-size: $h3-mobile;

  @media only screen and (min-width: 800px) {
    font-size: $h3;
  }

}
