/**
 * Variables
 */

/**
 * Global
 */

// ----------- global/variables

// Start with some top-level settings

// global border radius
$base-border-radius: 4px;

// ----------- Some Random A11y Color Palettes
// https://www.randoma11y.com

/**/
.black { color: #181332; }
.blue { color: #507cf0; }
.bg-black { background-color: #181332; }
.bg-blue { background-color: #507cf0; }

$ra-black: #181332;
$ra-blue:  #507cf0;


.eggplant { color: #492043; }
.asparagus { color: #a7be80; }
.bg-eggplant { background-color: #492043; }
.bg-asparagus { background-color: #a7be80; }

$ra-eggplant:  #492043;
$ra-asparagus: #a7be80;


.robin-egg-blue { color: #3bf4e1; }
.black { color: #1a251d; }
.bg-robin-egg-blue { background-color: #3bf4e1; }
.bg-black { background-color: #1a251d; }

$ra-robin-egg-blue: #3bf4e1;
$ra-black:          #1a251d;


.aquamarine { color: #8cd7d1; }
.royal-purple { color: #133192; }
.bg-aquamarine { background-color: #8cd7d1; }
.bg-royal-purple { background-color: #133192; }

$ra-aquamarine:   #8cd7d1;
$ra-royal-purple: #133192;
/**/

// colors
// $brand-color-1: #a7be80;

$brand-color-1: darken($ra-asparagus, 20%);
$brand-color-2: darken($brand-color-1, 25%);

$site-color-1: #f6f6f6;
$site-color-2: #ccc;
$site-color-3: #999;

$base-text-color: #444;

$base-border-color: $site-color-2;

/*
Using only system fonts, to keep it fast & light
Font stack settings help from: http://tachyons.io/
*/
$sans:  -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$serif: georgia, athelas, calisto, baskerville, serif;
$mono:  'Consolas', Consolas, monaco, monospace;

// ----------- global/mixins

$bp-mobile-landscape: 480px;
$bp-tablet-portrait:  768px;
$bp-tablet-landscape: 1024px;
$bp-laptop:           1280px;
$bp-desktop:          1440px;

// unique break for the main/sidebar layout
$bp-main-sidebar: 900px;

/**
 * Base
 */

// ----------- base/sanitize
// ----------- base/clearfix
// ----------- base/box-sizing

// ----------- base/page

$fw-normal:    400;
$fw-semibold:  600;
$fw-bold:      700;

$base-font-size:    22px;
$base-font-size-sm: 20px;
$base-font-size-xs: 18px;

$page-background: white;

$base-font-family: $serif;
$base-line-height: 1.75em;

$base-font-weight: $fw-normal;
$base-text-color:  $base-text-color;

$global-trans-time: .5s;
$global-easing:      ease-out;

// ----------- base/type

$p-margin:           0 0 1rem 0;
$p-padding:          0;

$p-lead-font-family: $serif;
$p-lead-font-size:   1.125rem;
$p-lead-line-height: 1.5em;
$p-lead-font-weight: $fw-normal;
$p-lead-font-style:  normal;

$heading-font-family:     $sans;
$heading-font-style:      normal;
$heading-font-weight:     normal;
$heading-font-weight:     $fw-semibold;
$heading-line-height:     1.25em;
$heading-margin:          0 0 1.5rem 0;
$heading-padding:         0;
$heading-color:           $base-text-color;
$heading-text-transform:  uppercase;
$heading-text-decoration: none;

$h1-margin: $heading-margin;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;

$h1-mobile: 2rem;
$h2-mobile: 1.75rem;
$h3-mobile: 1.5rem;
$h4-mobile: 1.25rem;
$h5-mobile: 1.125rem;
$h6-mobile: 1rem;

$blockquote-margin:            2rem 0;
$blockquote-padding:           0;
$blockquote-border-left-color: $brand-color-1;
$blockquote-border-left:       4px solid $blockquote-border-left-color;
$blockquote-bg-color:          $site-color-1;

$blockquote-p-margin:      0;
$blockquote-p-padding:     1.5rem;
$blockquote-p-font-family: $serif;
$blockquote-p-color:       $brand-color-1;
$blockquote-p-font-size:   1rem;
$blockquote-p-line-height: 1.5em;
$blockquote-p-font-style:  italic;
$blockquote-p-font-weight: normal;
$blockquote-p-font-weight: $fw-normal;
$blockquote-p-text-indent: 0;

$blockquote-author-font-style: normal;
$blockquote-author-font-size:  1rem;
$blockquote-author-font-color: lighten($base-text-color, 20%);

$dt-font-weight: bold;
$dt-margin:      1em 0 0 0;
$dt-padding:     0;
$dd-margin:      0;
$dd-padding:     0;

$pre-margin-bottom: 1em;

$hr-margin-top:    1em;
$hr-margin-bottom: $base-font-size - 1px;
$hr-border:        none;
$hr-border-bottom: 1px solid $base-text-color;

// ----------- base/links

$link-text-decoration:       underline;
$link-color:                 $brand-color-1;
$link-text-decoration-hover: none;
$link-color-hover:           $brand-color-2;

// ----------- base/images

$img-vertical-align: middle;

// ----------- base/figure

$figure-margin:               0 0 2rem 0;
$figure-padding:              0;
$figcaption-margin:           1px 0 0 0;
$figcaption-padding:          1rem;
$figcaption-background-color: $base-text-color;
$figcaption-text-align:       left;

$figcaption-font-family:  $sans;
$figcaption-font-size:    1rem;
$figcaption-line-height:  1em;
$figcaption-color:        $site-color-1;
$figcaption-text-padding: 0;
$figcaption-text-margin:  0;

// ----------- base/wordpress

// ----------- base/utilities

/**
 * Components - Reusable UI components
 */

// ----------- components/buttons

$button-color:            white;
$button-background-color: $brand-color-1;
$button-text-transform:   uppercase;
$button-font-weight:      $fw-bold;
$button-font-size:        .8rem;
$button-letter-spacing:   .5px;
$button-padding:          1.45rem 3rem 1.35rem 3rem;
$button-margin:           .5rem 0;
$button-border:           2px solid $button-background-color;

// button states

$button-color-visited:            $button-color;
$button-background-color-visited: $button-background-color;
$button-color-hover:              $button-color;
$button-background-color-hover:   darken($button-background-color, 25%);
$button-border-hover:             2px solid $button-background-color-hover;

// big buttons

$button-big-padding:      1.5rem 3rem;
$button-big-font-size:    1rem;
$button-big-border-width: 3px;

// small buttons

$button-small-padding:   .75rem 1.5rem;
$button-small-font-size: .65rem;

// white transparent button
$button-trans-color:            white;
$button-trans-background-color: rgba(0,0,0,.125);
$button-trans-border:           2px solid white;

// & hover state
$button-trans-color-hover:             $brand-color-1;
$button-trans-background-color-hover:  white;
$button-trans-border-hover:            2px solid white;

// buttons with a font-awesome icon
/*
$button-hasicon-padding:        1.35rem 2rem 1.125rem 2rem;
$button-hasicon-line-height:    1rem;
$button-hasicon-vertical-align: top;
$button-hasicon-font-size:      $button-hasicon-line-height;
$button-hasicon-icon-margin:    3px;
*/

// ----------- components/tables

$table-global-font-family: $sans;
$table-global-font-size:   1rem;
$table-global-line-height: 1.25em;
$table-global-padding:     1rem;

$table-hide-static-size: $bp-mobile-landscape; // hide static tables in mobile

$table-border:                 1px solid $base-text-color;
$table-thead-background-color: $base-text-color;
$table-thead-th-color:         white;
$table-th-text-align:          left;
$table-th-font-family:         $sans;
$table-th-font-weight:         700;
$table-th-td-padding:          1rem;
$table-th-td-line-height:      inherit;
$table-th-vertical-align:      bottom;
$table-td-vertical-align:      top;
$table-td-text-align:          left;

$admin-table-border-color:           $base-text-color;
$admin-table-thead-background-color: $base-text-color;

/**
 * Layout
 */

// ----------- layout/wrappers

/*

Setting container-max-width at 100% allows for edge-to-edge layout
(and edge-to-edge background color even when a wrap is used)
The (optional) wrap sets a max content width

|-------------------- screen --------------------|
|--p--|------------ container -------------|--p--|
|----------|---------- wrap ----------|----------|

*/

$container-max-width:  100%;
$container-pad:        0 2em;
$container-pad-mobile: 0 1em;
$wrap-max-width:       1400px;
$wrap-min-width:       100px;

/*
Set a max width for the WP content-area class
( the main content in the left column (or single column) )
on big screens
*/
$wp-content-area-max-width: 780px;

// center-align & middle-align box
$cmbox-default-background: white;
$cmbox-default-padding:    4rem;

// and some increased padding options
$cmbox-custom-padding-sm: 6rem;
$cmbox-custom-padding-md: 8rem;
$cmbox-custom-padding-lg: 10rem;

// ----------- layout/grid

$grid-columns:   12;
$grid-gutter:    6;
$grid-col-width: (100 - (($grid-columns - 1) * $grid-gutter )) / $grid-columns;

$single-col-width:        760px;
$readable-col-width:      760px;
$single-col-width-margin: ($single-col-width - $readable-col-width)/2;

// ----------- layout/header

// the frontpage full-screen image
// (in header.scss because it's part of header-frontpage.php)
$frontpage-max-width: 1400px;

// ----------- layout/footer
// ----------- layout/sidebar

// ----------- layout/nav

$nav-font:        $sans;
$nav-font-size:   1rem;
$nav-line-height: 1em;

$navmobile-bottom-margin:   0;
//$navmobile-bottom-border:   1px solid lighten($base-border-color, 10%);
$navmobile-bottom-border:   none;
$navmain-text-transform:    none;
$navmain-holder-background: white;
$navmain-button-pad:        1.5rem 1rem 1.25rem 1rem;
$navmain-background:        white;
$navmain-background-hover:  white;
$navmain-color:             $base-text-color;
$navmain-color-hover:       $site-color-3;

// desktop nav hides, mobile nav shows at this width
$navmain-switch-width: $bp-tablet-portrait;

$navmobile-text-align:            center;
$navmobile-background:            white;
$navmobile-border:                1px solid $site-color-1;
$navmobile-link-color:            $base-text-color;
$navmobile-link-padding:          1rem;
$navmobile-link-background:       white;
$navmobile-link-color-hover:      black;
$navmobile-link-background-hover: #f6f6f6;

$navmobile-background:          white;
$navmobile-pad:                 0;
$navmobile-trigger-pad:         1rem;
$navmobile-trigger-color:       $base-text-color;
$navmobile-trigger-color-hover: $site-color-3;

/**
 * Templates
 */

// ----------- templates/home
// ----------- templates/single
// ----------- templates/archives
// ----------- templates/blog
// ----------- all page, post, and custom post type specific styles

/**
 * Vendor
 */

// ----------- vendor/form-hack

// Font
$fh-font-family: $sans !default;
//$fh-font-size: 15px !default;
$fh-font-size:   $button-font-size !default;
$fh-font-color:  $base-text-color !default;

// Borders
// $fh-border-radius: $base-border-radius !default;
$fh-border-radius: none !default;
$fh-border-width:  2px !default;
$fh-border-style:  solid !default;
$fh-border-color:  lighten($base-text-color, 50%) !default;

// Inputs, Textareas, Select, Option
$fh-input-height:           auto !default;
$fh-input-width:            100% !default;
$fh-input-max-width:        100% !default;
$fh-input-search-max-width: 100% !default;
$fh-input-bg-color:         #fff !default;
$fh-input-padding:          1rem 1rem 1rem 1rem !default;
$fh-input-hover-padding:    1rem 1rem 1rem 1.25rem !default;
$fh-textarea-padding:       1rem !default;
$fh-focus-bg-color:         #f9f9f9 !default;
$fh-focus-border-color:     lighten($base-text-color, 20%) !default;
$fh-focus-font-color:       black !default;

// Select Vendor Styling
$fh-allow-select-vendor-styling: false !default;

// Fieldset & Legend Styling
$fh-fieldset-bare: false !default;

// Buttons & Input Submits
$fh-button-height:           auto !default;
$fh-button-padding:          $button-padding !default;
$fh-button-width:            100% !default;
$fh-button-max-width:        100% !default;
$fh-button-font-color:       $button-color !default;
$fh-button-bg-color:         $button-background-color !default;
//$fh-button-hover-bg-color:   lighten($fh-button-bg-color, 20%) !default;
$fh-button-hover-bg-color:   $button-background-color-hover;
$fh-button-hover-font-color: $fh-button-font-color !default;
$fh-button-text-transform:   uppercase !default;

// Layout
$fh-centered: false !default;
$fh-display: block !default;

// Select Vendor Styling
$fh-allow-select-vendor-styling: true !default;

// Fieldset & Legend Styling
$fh-fieldset-bare: false !default;

// Layout
$fh-centered: false !default;
$fh-display:  block !default;

// ----------- vendor/hamburgers/hamburgers

$hamburger-padding-x:                        15px !default;
$hamburger-padding-y:                        15px !default;
$hamburger-layer-width:                      40px !default;
$hamburger-layer-height:                     4px !default;
$hamburger-layer-spacing:                    6px !default;
$hamburger-layer-color:                      $base-text-color;
$hamburger-layer-border-radius:              4px !default;
$hamburger-hover-opacity:                    0.7 !default;
$hamburger-hover-transition-duration:        0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

// ----------- vendor/responsiveslides

/*
$rslides-margin-bottom: 1rem;
$rslides-tap-color: rgba(0,0,0,0);
$rslides-nav-top: 50%;
$rslides-nav-left: 0;
$rslides-nav-z-index: 99;
$rslides-nav-opacity: 0.7;
$rslides-nav-opacity-active: 1.0;
$rslides-tabs-margin: 1rem 0 0 0;
$rslides-tabs-li-margin: 0 1rem 0 0;
$rslides-tabs-radius: 15px;
$rslides-tabs-background-hex: #ccc;
$rslides-tabs-background-rgb: rgba(0,0,0, .2);
$rslides-tabs-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
$rslides-tabs-width: 9px;
$rslides-tabs-height: 9px;
$rslides-tabs-here-hex: #222;
$rslides-tabs-here-rgb: rgba(0,0,0, .8);
$rslides-caption-display: block;
$rslides-caption-bottom: 0;
$rslides-caption-left: 0;
$rslides-caption-right: 0;
$rslides-caption-padding: 15px;
$rslides-caption-text-align: center;
$rslides-caption-background-hex: #000;
$rslides-caption-background-rgb: rgba(0,0,0, .8);
$rslides-caption-color: white;
*/

// ----------- vendor/accordions

/*
$accordion-trigger-padding: .5rem 1rem;
$accordion-background-color: $site-color-2;
$accordion-content-padding: 1rem;
*/

/**
 * Our Theme
 */

// ----------- theme

/**
 * Media
 */

// ----------- media/responsive
// ----------- media/print
