/**
 * Hadley theme styles
 * 
 * This is just a sandbox to work out styles 
 * before dumping them into their appropriate partials.
 */

/*
.blog .content-area {
   padding-top: 3rem;
   border-top: 2px solid #ccc;
   margin-top: 2rem; 
}
*/

// pesticide debug helper

$debug: false;

@if $debug == true {
  
  * {
    outline: 1px solid orange;
  }
  .container {
    border: 2px solid red;
  }

}
