/**
 * Layout - Header
 */

// ----------- Force the z-index on the header content,
// ----------- so the menus are always on top.

.header,
.header * {
  @extend .z7;
}

.site-branding {
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-title {}
.site-title {}
.site-description {}

/*
Container class for the optional Book Tour button that shows up
in the header when the widget is active in header.php template.
It also appears in header-frontpage.php template.
The partial header-frontpage.scss has this class too,
nested inside wrap--header-frontpage, for added specificity.
It needs unique placement in the home page header (header-frontpage.php).
*/
.container--btbutton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// ----------- Site branding (name/tagline)

.container--branding {
  @extend .container--full;
  padding: 0 0 2rem 0;
}

.site-branding {
  padding: 0;
}

.site-branding .site-title {
  font-family: $sans;
  font-weight: $fw-semibold;
  font-size: $h1-mobile;
  margin: 0 auto 1rem auto;
  line-height: 1em;

  a {
    text-decoration: none;
  }

  @media only screen and (min-width: 800px) {
    font-size: $h1;
    margin: 2rem auto 0 auto;
  }

}

.site-branding .site-description {
  font-family: $sans;
  font-weight: $fw-normal;
  font-size: 20px;
  font-style: normal;
  margin: 1rem auto;

}
