/**
 * Mobile-first Navigation
 */

.container--nav {
   @extend .container;
   margin-bottom: $navmobile-bottom-margin;
   padding: 0;
   border-bottom: $navmobile-bottom-border;
   background-color: $navmobile-background;
}

// remove the bottom border on the front-page,
// because there's an image directly under it
.home .container--nav {
   border-bottom: none;
}

.wrap--nav {
   @extend .wrap;
   text-align: right;
}

nav {
   font-family: $nav-font;
   font-size: $nav-font-size;
   line-height: $nav-line-height;
}

$navmain-switch-width: 800px;

.navmain { 
	display: none; 

	@media only screen and (min-width: $navmain-switch-width) {
		display: block;
		text-align: center;
	}

}

// ----------- main nav

@media only screen and (min-width: $navmain-switch-width) {

	.navmain ul { 
		list-style-type: none; 
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	.navmain ul li {
		display: inline-block; 
		float: left; // the float keeps them flush
	}

	.navmain ul li a {
		display: block; 
		background-color: $navmain-background; 
		color: $navmain-color; 
		padding: $navmain-button-pad; 
		text-decoration: none; 
		white-space: nowrap;
		text-transform: $navmain-text-transform;

		&:visited {
			background-color: $navmain-background;
			color: $navmain-color;
		}

		&:hover,
		&:focus,
		&:active {
			background-color: $navmain-background-hover;
			color: $navmain-color-hover;
		}
    
    /*
    > span {
      margin: 0;
      padding: 0;
      border-bottom: none;
    }

    &:hover span,
    &:focus span,
    &:active span {
      border-bottom: 3px solid #ccc;
    }
    */

	}

   // active link in the main nav
   .navmain ul li.current-menu-item a {
     color: $brand-color-1;
   }

   /* 
   Updated nav-menu-template line 176 
   to add span around .main-navigation links 
   */
   .navmain ul li.current-menu-item a span {
      padding-bottom: 10px !important;
      border-bottom: 2px solid $brand-color-1;
   }

}

.navmobile-trigger {
	@extend .cf;
  display: inline-block;
  padding: $navmobile-trigger-pad;
  color: $navmobile-trigger-color;
  background-color: transparent;
  cursor: pointer;
  text-align: right;

  &:visited {
  color: $navmobile-trigger-color;
  background-color: transparent;
  }
  
  &:hover,
  &:focus,
  &:active { 
    background-color: transparent; 
    color: $navmobile-trigger-color-hover; 
  }

	@media only screen and (min-width: $navmain-switch-width) {
		display: none;
	}

}

// vendor/hamburgers/hamburgers button to open/close the mobile nav

.navmobile-trigger button {
  @include no-appearance;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background: transparent;
}

/*
This is a simple, top-down mobile nav
Credit: Nick Salloum
http://callmenick.com/2013/12/21/simple-responsive-navigation-menu/
*/

.navmobile {
  //margin-bottom: $navmobile-bottom-margin;
}

.navmobile ul {
  @include no-appearance;
  @include no-native-list;
	display: none;
	list-style-type: none;
	text-align: $navmobile-text-align;
	background-color: $navmobile-background; 
}

.navmobile li {
	display: block;
	&:not(:last-child) {
		border-bottom: $navmobile-border;
	}
}

.navmobile a {
	display: block;
	color: $navmobile-link-color;
	padding: $navmobile-link-padding; 
	background-color: $navmobile-link-background; 
	text-decoration: none;
	&:visited {
		color: $navmobile-link-color;
		background-color: $navmobile-link-background;
	}
	&:hover,
	&:focus,
	&:active {
		color: $navmobile-link-color-hover;
		background-color: $navmobile-link-background-hover;
	}
}
